.about {
  padding: 0;
}

.about-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-content {
  max-width: 46rem;
  margin: 0 auto;
}

.about-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media (min-width: 48rem) {
  .about-container h2 {
    margin-bottom: 2rem;
  }

  .about-content p {
    font-size: 1.02rem;
  }
}
